annotated-types==0.7.0
asgiref==3.9.1
build==1.2.2.post1
certifi==2025.7.9
charset-normalizer==3.4.2
click==8.2.1
dataclasses==0.6
Django==5.2.4
django-cors-headers==4.7.0
django-filter==25.1
django-simple-history==3.10.1
django-timezone-field==7.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
dnspython==2.7.0
docker==7.1.0
drf-yasg==1.21.10
gevent==25.5.1
greenlet==3.2.3
gunicorn==23.0.0
h11==0.16.0
idna==3.10
inflection==0.5.1
iniconfig==2.1.0
joblib==1.5.1
mongoengine==0.29.1
numpy==2.3.1
nvidia-nccl-cu12==2.27.5
packaging==25.0
pandas==2.3.1
pillow==11.3.0
pip-tools==7.4.1
pluggy==1.6.0
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
PyJWT==2.9.0
pymongo==4.13.2
pyproject_hooks==1.2.0
pytest==8.4.1
pytest-django==4.11.1
pytest_docker_tools==3.1.9
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
redis==6.2.0
requests==2.32.4
scikit-learn==1.7.0
scipy==1.16.0
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.6.0
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
uvicorn==0.35.0
wheel==0.45.1
whitenoise==6.9.0
xgboost==3.0.2
zope.event==5.1
zope.interface==7.2
